body {
  background-color: brown;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  border: 5px solid wheat;
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clock-surface{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hand {
  /* border-top: 3px solid #131212; */
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  /* transform: translate(-61px, 1500px); */
  transform-origin: -100%;
  transition: all 0.5;
  /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
 
}